body {
    font-family: 'Poppins', 'Gill Sans', sans-serif;
}
/* navbar */
.navbar {
    box-shadow: 0 2px 2px rgba(0,0,0,0.08);
}
/* hero */
.hero {
        background: url("/images/pexels-pavel-danilyuk-5998475.jpg") center no-repeat;
        display: flex; 
        align-items: center;
        justify-content: center;
        height: 80vh;
        background-size: cover;

        }
/* User Comment  */
.user-comment img {
    border-radius: 50%;
    margin: 15px;
}
/* Section */
.section-title {
    font-weight: 700;
    position: relative;
    margin-bottom: 50px;
}
.section-title::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #0d6efd;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
/* doctor cards */
.doctor-card img {
    width: 170px;
    display: flex;
    margin: 0 auto 20px;
    border-radius: 50%;
}
/* Scroll To Top */
.scroll-top-btn {
    position: fixed;
    bottom: 160px;
    right: 20px;
    width: 55px;
    height: 55px; 
    background: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
    transition: 0.2s;
}
.scroll-top-btn:hover {
    transform: scale(1.1);
}
/* WhatsApp + Phone Floating Buttons  */
.floating-btn {
    position: fixed;
    right: 20px;
    width: 55px;
    height: 55px;
    background: #25D366;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
}
.whatsapp {
    bottom:90px;
}
.phone {
    bottom: 20px;
    background: #0d6efd;
}
.floating-btn:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
/* footer */
footer {
    background: #0d6efd;
    color: #fff;
    padding: 40px 0;
}
footer a {
    color: #dce6ff;
    text-decoration: none;
}
footer a:hover {
    color: white;
}